h3 {
	font-size: 30px;
	background-color: lavender;
	color: teal;
}


a {
	font-size: 40px;
	background-color: dimgray;
	color: white;
	text-align: center;
	display:block;
	padding:8px;

}
p.main{
	font-size: 30px;
	text-align: center;
}

body{
	background-image: url(https://s3.envato.com/files/118426073/01.png);
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: lavender;
	text-align: center;
}

.navigation li{
	font-weight: 100px;
	letter-spacing: 25px;
	padding: 10px;
	
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
}


li a:hover {
	background-color: orange;
	color: white;

}
.active{
	background-color:blue;
	color: white;
}
.header{
	background-color: orange;
	text-align: center;
	padding: 20px;
}