h3 {
	font-size: 70;
	background-color: lavender;
	color: teal;

}


a {
	font-size: 60;
	background-color: orange;
	color: blue;


}


p {
	font-size: 100;
	background-color: grey;


}

body{background-color: aqua}